
body{
    background-color: rgb(39, 38, 38); 
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 15%;
    width: 100%;
    padding-top: 1%;
    color: rgb(125, 128, 101);
    font-size: 12px;
}

#img-logo{
    padding-left: 20%;
    float:left;
    width: 20%;
}

#phone{
    float: left;
    width: 20%;
}

#mail{
    float: right;
    width: 20%;
    padding-right: 20%;
}

.icon{
    padding-top: 10px;
    padding-bottom: 10%;
    padding-right: 15px;
    float: left; 
}

nav{
    padding-left: 16%;
    font-size: 15px;
    height: 110px;
}

.menu {
    list-style-type: none;
    float: left;
}

.menu a {
    text-decoration: none;
    text-align: center;
    padding-left: 58px;
    color: rgb(228, 227, 227);
}

.show-menu-btn, .hide-menu-btn{
    transition:0.4s;
    cursor: pointer;
    display: none;
}

.show-menu-btn{
    float:right;
}

.show-menu-btn i{
    line-height: 100px;
}


.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
    color: #CFB53B;
}

#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

#section1{
    background-image: url("img/hotelroom.jpg");
    height: 550px;
    width: 100%;
}

.responsive{
    width: 100%;
    height: auto;
}

#form1{
    background-color: white;
    width: 40%;
    height:140px;
    padding-top: 1px;
    padding-left:24px;  
    position: absolute;
    left: 24%;
    top: 70%;
}

#checkin{
    float:left;
}

#checkout{
    float:left;
    padding-left: 35px;
}

#submit{
    float:left;
    padding-top: 40px;
    padding-left: 25px;
    
}
#town{
    height: 140px;
    width: 150px;
    background-color: #CFB53B;
    position: absolute;
    left: 66%;
    top: 70%;
    color:white;
    text-align: center;
}

#section2{
    background-color: white;
    height: 500px;
    width: 100%;
    color: rgb(59, 59, 53);
    font-size: 20px;
    padding-bottom: 10px;
}

#s2photo{
    padding-top: 10%;
    width: 51%;
    float: left;
}


#textbox1{
    width: 48%;
    float: left;
    padding-top: 3%;
    padding-left:1%;
}

#textbox1 h1, #textbox1 p{
    padding-right:38%;
}


#section3{
    background-color: white;
    height: 530px;
    width: 100%;
    color: rgb(59, 59, 53);
    font-size: 20px;
}

 #textbox1 h1, #textbox2 h1{
    color: 	#CFB53B;
    font-size: 40px;
}

#textbox2{
    width: 49%;
    padding-top: 2%;   
    float: left;
}

#s3photo{
    padding-top: 8%;
    width: 51%;
    float: right;
}

#textbox2 h1, #textbox2 p{
    padding-left:35%;
    padding-right: 5%;
}


#section4{
    background-color: rgb(219, 220, 226);
    height: 270px;
    width: 100%;
    padding-top:2%;
    color: gray;
    
}

#box1{
    float: left;
    width: 25%;
    padding-left:23%;
    padding-right: 2%;
}

#box2{
    float: left;
    width:25%;
    padding-right:23%;
    padding-left:2%;
}

#box1, #box2{
    text-align: center;
}

footer{
    height: 140px;
    color: white;
    font-size: 13px;
    padding-top: 1%;
}

footer h4, #textbox1 h1, #texbox2 h1{
    color: 	#CFB53B;
}

#footer1{
    width: 15%;
    padding-left:20%;
    float: left;
}

#footer2{
    width: 15%;
    float: left;
}

#footer3{
    width: 15%;
    float: left;
}

#footer4{
    width: 15%;
    float: left; 
}

#footer4 h4{
    padding-left: 25px;
}

.checked {
    color:#CFB53B;
  }

@media only screen and (max-width:640px){
body{
    margin:0;
    padding:0;

}
header{
    height: 50px;;
    font-size: 12px;
}

#img-logo{
    width: 100%;
    padding-left:30%;
}

#phone{
    width: 100%;
    text-align: center;
}

#mail{
    padding-top: 10px;
    width: 100%;
    text-align: center;
    float: none;
}

.icon{
    padding-top: 10px;
    padding-bottom: 4%;
    width: 100%;
}

nav{
    padding-top:25%;
    padding-left: 0%;
    font-size: 13px;
}

.show-menu-btn, .hide-menu-btn{
    display: block;
}

.menu{
    position: fixed;
    width: 100%;
    top:0;
    right:0;
    text-align:center;
    padding: 100px 0;
    line-height: normal;
    transition: 0.7s;
}
.menu a {
    display: block;
    padding: 20px;
}

.hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
}

#chk:checked ~ .menu{
  right: 0;
}

#section1{
    height: 550px;
}

#form1{
    text-align: center;
    width: 55%;
    height:290px;
    padding-top: 1px;
    padding-left:1%;  
    padding-right:1%;
    position: absolute;
    left: 23%;
    top: 95%;
}

#checkin{
    width: 100%;
}

#checkout{
    width: 100%;
    padding-left: 0; 
}
#submit{
    padding-top: 30px;
    padding-left: 24%;
     
}

#town{
    height: 140px;
    width: 35%;
    background-color: #CFB53B;
    position: absolute;
    left: 34%;
    top: 66%;
    color:white;
    text-align: center;
}

#section2{
    font-size: 15px;
}

#s2photo{
    position: absolute;
    top: 212%;
    width: 100%;  
}

#textbox1{
    width: 100%;
    float: none;
    position: absolute;
    top: 150%;
    padding-top: 6%; 
}

#textbox1 h1, #textbox1 p{
    padding-right: 8%; 
    padding-left:8%;
}

#section3{
    height: 750px;
    width: 100%;
    font-size: 20px;
}

 #textbox1 h1, #textbox2 h1{
    color: 	#DAA520;
    font-size: 40px;
}

#textbox2{
    width: 100%;
    padding-top: 2%;   
    float:none;
    font-size: 15px;
    position: absolute;
    top: 258%;
}

#s3photo{
    padding-top: 8%;
    width: 100%;
    float: none;
    position: absolute;
    top: 315%;
}

#textbox2 h1, #textbox2 p{
    padding-left:8%;
    padding-right: 8%;
}

#section4{
    height: 500px;
    width: 100%;
    padding-top:2%;
    position: absolute;
    top: 360%;
}

#box1{
    float: none;
    width: 100%;
    padding-top: 20px;
    padding-left:0%;
    font-size: 13px;
 
}

#box1 p, #box2 p{
    padding-right: 50px;
    padding-left: 50px;
}

#box2{
    float: none;
    width: 100%;
    padding-top: 50px;
    padding-left:0%;
    font-size: 13px;

}

footer{
    padding-top: 1%;
    padding-left: 28%;
    position: absolute;
    top: 455%;
}

#footer1, #footer2, #footer3, #footer4{
    width: 50%;

    padding-left:0;
}


}
